{% extends 'html5boilerplate/index.html' %}
{% load url from future %}

{% block title %} | codeinthehole.com{% endblock %}
{% block author %}David Winterbottom{% endblock %}
{% block description %}Personal site of David Winterbottom, a London-based progamming addict.{% endblock %}

{% block extra_head %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="RSS feed" href="http://feeds2.feedburner.com/codeintheholecom" />
{% endblock %}

{% block bodyclass %}{% endblock %}
    
{% block body %}    
<div id="container">
    <header>
        {% block header %}
        <div id="logo">
            <h4><a href="/" title="David Winterbottom">codeinthehole.com</a></h4>
            <h5><a href="{% url 'articles' %}">writing</a> | 
                <a href="http://twitter.com/codeinthehole" title="Occasionally I say something interesting">twitter</a> | 
                <a href="http://github.com/codeinthehole">github</a> |
                <a href="{% url 'about' %}">about</a></h5>
        </div>
        {% endblock header %}
    </header>
    <div id="main" role="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
		{% block footer %}
        &copy; <a href="{% url 'about' %}">David Winterbottom</a> | 
		Powered by <a href="/writing/rewriting-codeintheholecom/">home-rolled blog software</a> 
		{% endblock footer %}
    </footer>
</div>
{% endblock %}
