{% extends 'base.html' %}
{% block title %}About{{ block.super }}{% endblock %}
{% block bodyclass %}home{% endblock %}

{% block content %}
    <h1 id="title">About</h1>
	<img class="in_para" src="http://gravatar.com/avatar/52d39c7b27386ca98bc016119d95b8b8?s=140" />
	<p>I'm a software engineer working in London.  I work as Director of Engineering
        at <a href="http://yoyowallet.com/">Yoyo Wallet</a>, a payments and loyalty start-up.  I also write and 
        maintain some open-source software such as <a href="http://github.com/tangentlabs/django-oscar/">django-oscar</a>, an
        e-commerce framework.
	</p>

    <h2>Software</h2>
    <p>I'm an experienced Python and Django developer with particular interests in testing and TDD, 
       software design, as well as infrastructure and DevOps.</p>

    <p>I wrote <a href="http://github.com/tangentlabs/django-oscar/">django-oscar</a>, a popular e-commerce framework
       for Django, and have considerable experience building e-commerce and transactional sites.
       <p>I am available to do small amounts of contract work on Django or Oscar projects - <a href="mailto:david.winterbottom@gmail.com">email me</a> for more details.</p>
           
    <h2>Maths</h2>
    <img src="{{ STATIC_URL }}images/vgl.jpg" class="in_para" />
    <img src="{{ STATIC_URL }}images/pattern.jpg" class="in_para" />
    <p>I have a PhD in Applied Mathematics from the University of Nottingham -
    you can <a href="http://etheses.nottingham.ac.uk/archive/00000180/">read my thesis</a> 
    if you like.</p>
    <p>There are a few papers out there based on my research:</p>
    <ul>
        <li>Sqrt(5):2 mode interactions on a square lattice<br/>
        <em>Int. J. Bif. and Chaos</em> 14 11 3883-3897<br/>
        D.M. Winterbottom [not available online]
        </li>
        <li><a href="http://stacks.iop.org/0951-7715/18/1031">Oscillatory pattern formation with a conservation law</a><br/>
        <em>Nonlinearity</em> 18 1031-1056<br/>
        D.M. Winterbottom, P.C. Matthews, S.M. Cox
        </li>
        <li><a href="http://link.aip.org/link/?SJADAY/7/63/1">Pattern Formation in a Model of a Vibrated Granular Layer</a><br/>
        <em>SIAM J. Appl. Dyn. Syst.</em> 7(1) 63-78<br/>
        D.M. Winterbottom, S.M. Cox, P.C. Matthews
        </li>
    </ul>
    <p>You may also be interested in an <a href="{{ STATIC_URL }}tutorial/index.html">online tutorial</a> I put together back in the 
    dreamy days of 2004.</p>

    <h2>Contact</h2>
    <p>You can use <a href="http://www.twitter.com/codeinthehole">Twitter</a> 
    or <a href="http://github.com/codeinthehole/">Github</a> if you're so
    inclined, but <a href="mailto:david.winterbottom@gmail.com">email</a> is preferred.</p>

{% endblock %}

