{% extends 'base.html' %}
{% load url from future %}

{% block bodyclass %}article{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css">
{% endblock %}

{% block title %}{{ article.title|striptags }} | 
    {% for tag in article.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %} |
    codeinthehole.com by David Winterbottom
{% endblock %}

{% block description %}{{ article.summary|striptags }}{% endblock %}


{% block content %}
<h3 id="article_date">
    {% if article.is_published %}
        {{ article.date_published|date:"l, j F Y" }}
    {% else %}
        {{ article.date_created|date:"l, j F Y" }}
    {% endif %}
</h3>
<h1 id="article_title">{{ article.title|safe }}</h1>

<div id="article">
    {{ article.body_html|safe }}
	<div id="article-nav">
		{% if previous_article %}
		<div id="previous" style="float:left">
			&laquo; previous<br/>
			<a href="{{ previous_article.get_absolute_url }}" title="{{ previous_article.summary|striptags }}">{{ previous_article.title|safe }}</a>
		</div>
		{% endif %}
		{% if next_article %}
		<div id="next" style="float:right">
			next &raquo;</br>
			<a href="{{ next_article.get_absolute_url }}" title="{{ next_article.summary|striptags }}">{{ next_article.title|safe }}</a>
		</div>
		{% endif %}
	</div>
</div>

{% if related_articles %}
	<div class="article-meta" id="further-reading">
			<h2>Related articles</h2>
			{% include 'rsb/includes/articles.html' with articles=related_articles %} 
			<a class="read-more" href="{% url 'articles' %}">All writing &raquo;</a>
	</div>
{% endif %}

<div class="article-meta" id="article-about">
	<h2>David Winterbottom</h2>
	{% include 'rsb/includes/about.html' %}
</div>

{% endblock %}
