{% extends 'base.html' %}
{% load url from future %}

{% block bodyclass %}article{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css">
{% endblock %}

{% block title %}{{ article.title|striptags }} | 
    {% with tags=article.tags.all %}
		{% if tags %}
			{% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %} |
		{% endif %}
		codeinthehole.com by David Winterbottom
	{% endwith %}
{% endblock %}

{% block description %}{{ article.summary|striptags }}{% endblock %}


{% block content %}

<h3 id="article_date">
    {% if article.is_published %}
        {{ article.date_published|date:"l, j F Y" }}
    {% else %}
        {{ article.date_created|date:"l, j F Y" }}
    {% endif %}
</h3>
<h1 id="article_title">{{ article.title|safe }}</h1>

<div id="article">
    {{ article.body_html|safe }}
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="codeinthehole" data-size="large">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="article-meta" id="article-comments"> 
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'codeinthehole'; // required: replace example with your forum shortname
	{% if debug %}
		var disqus_developer = 1;
	{% endif %}
    var disqus_identifier = 'article-{{ article.id }}';
    var disqus_title = '{{ article.title|escapejs }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

{% if related_articles %}
	<div class="article-meta" id="further-reading">
        <h2>Related</h2>
        {% include 'rsb/includes/articles.html' with articles=related_articles %} 
        <a class="read-more" href="{% url 'articles' %}">All articles &raquo;</a>
	</div>
{% endif %}

{% if popular_articles %}
	<div class="article-meta" id="popular-reading">
        <h2>Popular</h2>
        {% include 'rsb/includes/articles.html' with articles=popular_articles %} 
        <a class="read-more" href="{% url 'popular-articles' %}">Popular articles &raquo;</a>
	</div>
{% endif %}

<div class="article-meta" id="article-about">
	<h2>Hello</h2>
	{% include 'rsb/includes/about.html' with include_twitter=1 %}
</div>

{% endblock %}
