{% load url from future %}

<img id="about-photo" src="http://gravatar.com/avatar/52d39c7b27386ca98bc016119d95b8b8?s=120" />
<p>I'm David Winterbottom, a programming addict living in London.</p>
<p>I work at <a href="http://www.tangentlabs.co.uk">Tangent Labs</a>, 
writing e-commerce applications in python and Django.</p>
<p>I run <a href="http://www.commandlinefu.com">commandlinefu.com</a> and am the author of
the e-commerce framework <a href="http://github.com/tangentlabs/django-oscar">django-oscar</a> amongst <a href="http://github.com/codeinthehole/">other things</a>.</p>
<p>I enjoy reading obituaries in The Economist, but find apples depressing.</p>
<a class="read-more" href="{% url 'about' %}">More &raquo;</a>
