{% load url from future %}

<img id="about-photo" src="http://gravatar.com/avatar/52d39c7b27386ca98bc016119d95b8b8?s=120" />
<p>I'm David Winterbottom, a passionate hacker living in London.</p>
<p>I work at <a href="http://www.tangentlabs.co.uk">Tangent Labs</a>, a digital
agency, writing applications in python, django and friends.</p>
<p>I spend most of my free time hacking. I run <a href="http://www.commandlinefu.com">commandlinefu.com</a> and am the author of
the e-commerce framework <a href="http://github.com/tangentlabs/django-oscar">django-oscar</a> amongst <a href="http://github.com/codeinthehole/">other things</a>.</p>
<p>I used to be a mathematician; I have a PhD in Mathematics from the
University of Nottingham and an associated interest in cryptic crosswords,
chess and playing devil's advocate.</p>

{% if include_twitter %}
<p>
If you've read this far, you should probably follow me on Twitter:
</p>
<p>
	<a href="https://twitter.com/codeinthehole" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @codeinthehole</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
{% endif %}
<a class="read-more" href="{% url 'about' %}">More &raquo;</a>
