{% load url from future %}

<div class="articles">
    {% for article in articles %}
        <div class="article">
            <div class="meta">
                {{ article.date_published|date:"l, j F Y" }}<br/>
                {% for tag in article.tags.all %}
                    <a href="{% url 'tagged' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="main">
                <a href="{{ article.get_absolute_url }}">{{ article.title|safe }}</a>
                <p>{{ article.summary|safe }}</p>
            </div>
        </div>
	{% empty %}
		<p>No articles.</p>
    {% endfor %}
</div>   