{% extends 'base.html' %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css">
{% endblock %}

{% block title %}{{ article.title }}
    ({% for tag in article.tags.all %}{{ tag}},{% endfor %})
    codeinthehole.com
{% endblock %}

{% block description %}{{ article.summary }}{% endblock %}

{% block content %}
<h1 id="article_title">{{ article.title }}</h1>
<h3 id="published_date">
    by <a href="{% url about %}">David Winterbottom</a><br/>
    {% if article.is_published %}
        {{ article.date_published|date:"l, j F Y" }}
    {% endif %}
</h3>

<div id="article">
    {{ article.body_html|safe }}
</div>

<div id="further-reading">
    {% if related_articles %}
        <p>You might also like:</p>
        {% for article in related_articles %}
            <p><a href="{{ article.get_absolute_url }}" title="{{ article.summary }}">{{ article.title }}</a></p>
        {% endfor %}
    {% endif %}
    {% with tags=article.tags.all %}
    {% if tags %}
        <p>Tags: 
           {% for tag in tags %}<a href="{% url tagged tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
        </p>
    {% endif %}
    {% endwith %}
    
    {% if previous_article %}
    <p>Previous: <a href="{{ previous_article.get_absolute_url }}" title="{{ previous_article.summary }}">{{ previous_article.title }}</a></p>
    {% endif %}
    {% if next_article %} 
    <p>Next: <a href="{{ next_article.get_absolute_url }}" title="{{ next_article.summary }}">{{ next_article.title }}</a></p>
    {% endif %}
</div>

{% endblock %}