{% extends 'base.html' %}
{% load url from future %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/pygments.css">
{% endblock %}

{% block title %}{{ article.title|safe }} | 
    {% for tag in article.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %} |
    codeinthehole.com by David Winterbottom
{% endblock %}

{% block description %}{{ article.summary|striptags }}{% endblock %}

{% block header %}
<div id="logo">
    <h4><a href="/">codeinthehole.com</a></h4>
	<h5>by <a href="/about/" title="@codeinthehole">David Winterbottom</a></h5>
</div>

{% endblock %}

{% block content %}
<h3 id="article_date">
    {% if article.is_published %}
        {{ article.date_published|date:"l, j F Y" }}
    {% else %}
        {{ article.date_created|date:"l, j F Y" }}
    {% endif %}
</h3>
<h1 id="article_title">{{ article.title|safe }}</h1>

<div id="article">
    {{ article.body_html|safe }}
</div>

<div id="further-reading">
    {% if related_articles %}
        <p>If this article was interesting, you might like these:</p>
		<ul>
        {% for article in related_articles %}
            <li><a href="{{ article.get_absolute_url }}" title="{{ article.summary|striptags }}">{{ article.title }}</a>
                
            </li>
        {% endfor %}
	</ul>
    {% endif %}
    {% with tags=article.tags.all %}
    {% if tags %}
        <p>See all articles tagged with 
           {% for tag in tags %}<a href="{% url 'tagged' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
        </p>
    {% endif %}
    {% endwith %}
    
    {% if previous_article %}
    <ul>
    <li>Previous article: <a href="{{ previous_article.get_absolute_url }}" title="{{ previous_article.summary|striptags }}">{{ previous_article.title|safe }}</a></li>
    {% endif %}
    {% if next_article %} 
    <li>Next article: <a href="{{ next_article.get_absolute_url }}" title="{{ next_article.summary|striptags }}">{{ next_article.title|safe }}</a></li>
    {% endif %}
    </ul>
</div>

{% endblock %}