{% extends 'base.html' %}

{% block content %}
    <h1>codeinthehole.com | David Winterbottom</h1>

    <h2>Articles</h2>
    <table class="articles">
        <tbody>
            {% for article in articles %}
            <tr>
                <td class="date">{{ article.date_published|date:"F d, Y"}}</td>
                <td>
                    <h2><a href="{{ article.get_absolute_url }}">{{ article.title}}</a></h2>
                    <p>{{ article.summary|safe }}</p>
                </td>
            </tr>
            {% endfor %}   
        </tbody>     
    </table>
    
    <h2>Tweets</h2>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 8,
      interval: 30000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#fff',
          color: '#333'
        },
        tweets: {
          background: '#fff',
          color: '#333',
          links: '#8C0808'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('codeinthehole').start();
    </script>

{% endblock %}