{% extends 'base.html' %}
{% load url from future %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div id="logo">
        <h1>codeinthehole.com</h1>
        <h2>David Winterbottom</h2>
        <h3><a href="{% url 'articles' %}">writing</a> | 
            <a href="http://twitter.com/codeinthehole" title="Occasionally I say something interesting">@codeinthehole</a> | 
            <a href="http://github.com/codeinthehole">github</a></h3>
    </div>

    <br/>
    <hr/>

    <h2>Latest writing</h2>
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <a href="{{ article.get_absolute_url }}">{{ article.title}}</a><br/>
            {{ article.summary|safe }}
        </div>
    {% endfor %}    
    </div>
    
    
    <h2>Latest thinking</h2>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 8,
      interval: 30000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#fff',
          color: '#333'
        },
        tweets: {
          background: '#fff',
          color: '#333',
          links: '#8C0808'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('codeinthehole').start();
    </script>

{% endblock %}