{% extends 'base.html' %}
{% load url from future %}

{% block title %}David Winterbottom | codeinthehole.com{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="logo">
        <h1>codeinthehole.com</h1>
        <h2>David Winterbottom</h2>
		<h3>
			&laquo;
			<a href="{% url 'articles' %}" title="Read what's in my brain">writing</a> | 
			<a href="{% url 'articles-feed' %}" title="">RSS</a> | 
            <a href="http://twitter.com/codeinthehole" title="Once I made a funny on the Twitter">twitter</a> | 
			<a href="http://github.com/codeinthehole" title="See my source code">github</a> |
			<a href="{% url 'about' %}" title="Read what's in my brain">about</a> 
			&raquo;
        </h3>
    </div>

    <h2 id="home">About</h2>
    <p>I'm Head of Programming at Tangent Labs, a London-based digital agency.</p>
    <p>I'm also the creator of <a href="http://www.commandlinefu.com">commandlinefu.com</a> and 
    the e-commerce framework django-oscar amongst other things.</p>

	{% if articles %}
		<h2 id="writing">Writing</h2>
		{% include "rsb/includes/articles.html" %}
	{% endif %}

    <h2 id="thinking">Thinking</h2>
    <div class="tweets">
    {% for tweet in tweets %}
        <div class="tweet">
            <div class="meta">
                {{ tweet.date_created|timesince }} ago
            </div>
            <div class="main">
                {{ tweet.text|safe }}
            </div>
        </div>
	{% empty %}
		<p>Nothing going on at the moment.</p>
    {% endfor %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}