{% extends 'base.html' %}

{% block content %}
    <h1 id="title">About</h1>

    <h2>About me</h2>
    <p>I'm a sofware developer working London and have an insatiable appetite for 
    hacking, programming literature.  I'm head of programming at Tangent Labs, a leading
    digital agency.</p>
    <p>Most of my daytime work revolves around e-commerce projects.  I'm the lead author
    of django-oscar, a domain-driven ecommerce framework for Django.</p>

    <h2>About this website</h2>
    <p>This site is written in a home-rolled blog software, restructured-blog, designed
    to so that I can write articles in Vim on my laptop and push them up to a server using
    a management.  Optimised to make my life easy.
    </p>

{% endblock %}

{% block footer %}{% endblock %}
