{% extends 'html5boilerplate/index.html' %}
{% load url from future %}


{% block title %}codeinthehole.com{% endblock %}
{% block author %}David Winterbottom{% endblock %}
{% block description %}Personal site of David Winterbottom{% endblock %}

{% block extra_head %}
<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
{% endblock %}

{% block bodyclass %}article{% endblock %}
    
{% block body %}    
<div id="container">
    <header>
        {% block header %}
            <div id="nav">
                <a href="{% url 'articles' %}">articles</a> |
                <a href="{% url 'projects' %}">projects</a> |
                <a href="{% url 'about' %}">about</a>
            </div>
            <div id="logo">
                <a href="{% url 'home' %}">codeinthehole.com</a>
            </div>
        {% endblock header %}
    </header>
    <div id="main" role="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        {% block footer %}
        <img id="profile_photo" src="{{ STATIC_URL }}/images/me.jpg" />
        <p>Greetings.  I'm David Winterbottom, a London-based 
        web developer and programming addict.</p>
        <p>I work for Tangent Labs and am 
        also the creator of <a href="http://www.commandlinefu.com">commandlinefu.com</a>
        and the e-commerce framework <a href="">django-oscar</a>.
        </p>            
        <p>
        Contact me via 
        <a href"mailto:david.winterbottom@gmail.com">email</a>,
        <a href="http://twitter.com/codeinthehole">twitter</a>, or
        <a href="http://github/codeinthehole">github</a>. 
        </p>
        {% endblock %}
    </footer>
</div>
{% endblock %}
