{% extends 'html5boilerplate/index.html' %}
{% load url from future %}

{% block title %} | codeinthehole.com{% endblock %}
{% block author %}David Winterbottom{% endblock %}
{% block description %}Personal site of David Winterbottom, a London-based progamming addict.{% endblock %}

{% block extra_head %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
{% endblock %}

{% block bodyclass %}article{% endblock %}
    
{% block body %}    
<div id="container">
    <header>
        {% block header %}
        <div id="logo">
            <h4><a href="/" title="David Winterbottom">codeinthehole.com</a></h4>
            <h5><a href="{% url 'articles' %}">writing</a> | 
                <a href="http://twitter.com/codeinthehole" title="Occasionally I say something interesting">twitter</a> | 
                <a href="http://github.com/codeinthehole">github</a> |
                <a href="{% url 'about' %}">about</a></h5>
        </div>
        {% endblock header %}
    </header>
    <div id="main" role="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer>
        {% block footer %}
            <img id="profile_photo" src="{{ STATIC_URL }}/images/me.jpg" />
            <p>I'm David Winterbottom, a 
            web developer and programming addict.  I'm head of programming at Tangent, a digital agency
            in London.  I'm also the creator of <a href="http://www.commandlinefu.com">commandlinefu.com</a>
            and the e-commerce framework <a href="">django-oscar</a> amongst other things.</p>
            </p>  
            <p>If you've read this far, you should probably <a href="http://twitter.com/codeinthehole">follow me on Twitter</a>.</p>          
            <p>
            Contact me via 
            <a href"mailto:david.winterbottom@gmail.com">email</a>,
            <a href="http://twitter.com/codeinthehole">twitter</a>, or
            <a href="http://github/codeinthehole">github</a>. 
            </p>
        {% endblock %}
    </footer>
</div>
{% endblock %}
