{% extends 'base.html' %}

{% block content %}
    <h1 id="title">Projects</h1>

    <table>
        <tr>
            <th>django-oscar</th>
            <td>
                Mixtape vinyl whatever homo. Readymade carles freegan echo park beard gluten-free. Synth put a bird on it echo park viral, single-origin coffee biodiesel vinyl banksy before they sold out 8-bit banh mi organic terry richardson. Sartorial single-origin coffee cardigan wolf put a bird on it, skateboard freegan portland synth tumblr brooklyn cred. Vice echo park twee put a bird on it, mcsweeney's you probably haven't heard of them stumptown 8-bit williamsburg blog. PBR stumptown whatever four loko, mixtape +1 food truck lomo farm-to-table readymade vinyl american apparel before they sold out blog. Hoodie seitan mcsweeney's, 8-bit readymade helvetica pitchfork mixtape organic american apparel tattooed keytar cred DIY.
            </td>
        </tr>
        <tr>
            <th>commandlinefu.com</th>
            <td>
                Mixtape vinyl whatever homo. Readymade carles freegan echo park beard gluten-free. Synth put a bird on it echo park viral, single-origin coffee biodiesel vinyl banksy before they sold out 8-bit banh mi organic terry richardson. Sartorial single-origin coffee cardigan wolf put a bird on it, skateboard freegan portland synth tumblr brooklyn cred. Vice echo park twee put a bird on it, mcsweeney's you probably haven't heard of them stumptown 8-bit williamsburg blog. PBR stumptown whatever four loko, mixtape +1 food truck lomo farm-to-table readymade vinyl american apparel before they sold out blog. Hoodie seitan mcsweeney's, 8-bit readymade helvetica pitchfork mixtape organic american apparel tattooed keytar cred DIY.
            </td>
        </tr>
        <tr>
            <th>CGL equation tutorial</th>
            <td>
                Mixtape vinyl whatever homo. Readymade carles freegan echo park beard gluten-free. Synth put a bird on it echo park viral, single-origin coffee biodiesel vinyl banksy before they sold out 8-bit banh mi organic terry richardson. Sartorial single-origin coffee cardigan wolf put a bird on it, skateboard freegan portland synth tumblr brooklyn cred. Vice echo park twee put a bird on it, mcsweeney's you probably haven't heard of them stumptown 8-bit williamsburg blog. PBR stumptown whatever four loko, mixtape +1 food truck lomo farm-to-table readymade vinyl american apparel before they sold out blog. Hoodie seitan mcsweeney's, 8-bit readymade helvetica pitchfork mixtape organic american apparel tattooed keytar cred DIY.
            </td>
        </tr>
 


{% endblock %}
