{% extends 'base.html' %}

{% block title %}Projects{{ block.super }}{% endblock %}
{% block description %}The few projects that I actually finished.{% endblock %}

{% block content %}
<h1 id="title">Projects</h1>

<table>
    <tr>
        <th><img src="{{ STATIC_URL }}images/clf-logo.jpg"/></th>
        <td>
            <div class="entry_body">
                <p>I love the command-line - the feeling of power is intoxicating.
                Of course, true mastery takes some years of experience and, even
                then, it can be difficult to recall all the flags and switches
                without resorting to man pages and snippet files.  </p>
                <p>
                For years, I saved my best and most useful commands in text file.
                Howeverm, in time this grew unwieldy and lacked a good means of
                quickly searching for what I wanted.</p>
                <p>
                Hence, I created <a href="http://www.commandlinefu.com">commandlinefu.com</a>, a
                site where command-line tricks could be saved, indexed and easily
                searched.  Influenced by sites like Stack Overflow and Reddit, I
                also added some social aspects to the site such as voting and
                commenting on individual commands, to allow a community of users to
                determine which commands are the most useful.  I also paid some
                attention to ways in which other users could interact with the site
                - hence every new command is Tweeted to an appropriate Twitter
                account, and all lists of commands are syndicated in RSS feeds.
                There's also an API to allow alternative clients to interact with
                the size.</p>
                <p>For whatever reason, the site has been really successful, it was
                prominently featured on Reddit and Digg in the days after I first
                made it live.  In the first month alone, there were some 140,000
                visitors.</p>
            </div>
        </td>
    </tr>
    <tr>
        <th>django-oscar</th>
        <td>
            Mixtape vinyl whatever homo. Readymade carles freegan echo park beard gluten-free. Synth put a bird on it echo park viral, single-origin coffee biodiesel vinyl banksy before they sold out 8-bit banh mi organic terry richardson. Sartorial single-origin coffee cardigan wolf put a bird on it, skateboard freegan portland synth tumblr brooklyn cred. Vice echo park twee put a bird on it, mcsweeney's you probably haven't heard of them stumptown 8-bit williamsburg blog. PBR stumptown whatever four loko, mixtape +1 food truck lomo farm-to-table readymade vinyl american apparel before they sold out blog. Hoodie seitan mcsweeney's, 8-bit readymade helvetica pitchfork mixtape organic american apparel tattooed keytar cred DIY.
        </td>
    </tr>
    <tr>
        <th>CGL equation tutorial</th>
        <td>
            Mixtape vinyl whatever homo. Readymade carles freegan echo park beard gluten-free. Synth put a bird on it echo park viral, single-origin coffee biodiesel vinyl banksy before they sold out 8-bit banh mi organic terry richardson. Sartorial single-origin coffee cardigan wolf put a bird on it, skateboard freegan portland synth tumblr brooklyn cred. Vice echo park twee put a bird on it, mcsweeney's you probably haven't heard of them stumptown 8-bit williamsburg blog. PBR stumptown whatever four loko, mixtape +1 food truck lomo farm-to-table readymade vinyl american apparel before they sold out blog. Hoodie seitan mcsweeney's, 8-bit readymade helvetica pitchfork mixtape organic american apparel tattooed keytar cred DIY.
        </td>
    </tr>
</table>
{% endblock %}
